@charset "UTF-8";

.bg-area {
  height: 500px;
}

.bg1 {
  background: url(../../image/coffee-background.jpg);
}

.bg2 {
  background: url(../../image/coffee-background.jpg) no-repeat;
}

.bg3 {
  background: url(../../image/coffee-background.jpg) center/cover;
}

.bg4 {
  background: url(../../image/coffee-background.jpg)  no-repeat center/contain;
}