@charset "UTF-8";

.bg-area{
  height: 500px;
  background: url(../../image/coffee-background.jpg);
}
.bg2{
  background: no-repeat;
}
.bg3{
  background: cover center;
}
.bg4{
  background: contain no-repeat center;
}

