@charset "UTF-8";

header {
  background: #388bff;
  position: fixed;
  width: 100%;
}

a {
  text-decoration: none;
}

.headre-inner {
  width: 1100px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.logo {
  font-weight: bold;
  font-size: 24px;
  color: #f2ff7b;
  text-decoration: none;
  margin-top: 30px;
  display: block;
}

ul {
  display: flex;
}

ul li {
  padding: 30px;
}

ul li a {
  color: #ffffff;
}