@charset "UTF-8";
.item{
  width: 500px;
  background: #fad296;
  border: solid 5px #8f5a0a;
  padding:20px;
  line-height: 16px;
  border-radius: 30px;
  margin: 0 auto;
  position: relative;
}

.item:before,
.item:after{
  content: "";
  position: absolute;
  left: 25px;
  border: 24px solid transparent;
}

.item:before {
  border-top: 24px solid #8f5a0a;
  bottom: -50px;
  z-index: 1;
}
.item:after {
  border-top: 24px solid #fad296;
  bottom: -43px;
  z-index: 2;
}